/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */
body {
  background-color: #7e20ac;
}
.cssbox_thumb {
  width: 100%;
  max-height: 175px;
}
#cus-images-outer-div {
  margin: 0 !important;
  max-width: 100%;
  padding-bottom: 50px;
}
.cus-col-2 {
  width: 18%;
  padding: 1%;
}
.cus-gap-div {
  height: 10vh;
}
.cus-top-nav {
  height: 10vh;
}
#cus-img-profile {
  width: 70%;
}
.cus-hl1 {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  font-size: 52px;
  font-weight: 900;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
}
.cus-hl1-2 {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Open Sans", sans-serif; */
  font-size: 40px;
  font-weight: 500;
  color: #fff;
  line-height: 1;
  width: 100%;
}
.cus-hl2 {
  font-family: "Montserrat", sans-serif;
  font-size: 29px;
  font-weight: 300;
  color: #fff;
  line-height: 1.2;
}
#cus-images-pane {
  background: #fff;
  min-height: 100px;
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
